
body {
  background-image: url(../images/background.jpg);
  font-family: helvetica;
  font-size: 0.8em;
  font-style: italic;
}

.logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6em;
}

.banner {
  margin-left: 1em;
  margin-right:8em;
  margin-bottom: 4em;
}

p.form-text {
  font-size: 1.2em;
  font-family: franklin gothic;
  font-style: normal;
}

p.intro {
  margin-left: 22em;
  margin-right: 22em;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.4em;
}

img.grafik {
  margin-left: 5em;

}

/* Generel (Tablet + Desktop) */
/*
header, footer {
    padding: 1em;
    color: white;
    background-color: #cc0000;
    clear: left;
    text-align: center;
}

nav {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc0000;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #d90202;
}

.active {
    background-color: #d90202;
} */
article {
    padding: 1em;
    overflow: hidden;
}

main {
    padding: 1em;
    overflow: hidden;
}

/* Phones */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    #menu-icon {
        display:inline-block;
        width: 40px;
        height: 40px;
    }
/*
    a:hover#menu-icon {
        background-color: #cc0000;
        border-radius: 4px 4px 0 0;
    }

    nav {
      margin: 0;
	    background-color: #cc0000;
    }

nav ul {
    display: none;
    position: absolute;
	  border: 1px solid gray;
    width: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    ackground-color: #cc0000;
    }

nav:hover ul {
    display: block;
    } */
}

/* Content */
.left {
	float: left;
	width: 300px;
	padding: 10px;
}

.right {
	float: right;
	width: 300px;
	padding: 10px;
}

.center {
	display: block;
    margin: 0 auto;
}

.index-img {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}

/* styling af billederne */

.show {
    display: inline-block;
    width: 300px;
    height: 360px;
  /*  border:3px solid grey; */
    margin: 15px;
    background-color: rgba(137, 137, 137, 0.44);
}

.show img {
    float: right;
    width: 250px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
